.lobster{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 0 0 #343a40, -2px 0 0 #343a40, 0 2px 0 #343a40, 0 -2px 0 #343a40, 1px 1px #343a40, -1px -1px 0 #343a40, 1px -1px 0 #343a40, -1px 1px 0 #343a40;
}

.paraElTituloEnPost{
    font-size: 50px;
    font-family: 'Lobster', cursive;
}


