#lobster{
    font-family: 'Lobster', cursive;
    color: white;
}

.card-img-overlay{
    width: 50%;
    height: 25%;
}

.paraElTituloEnPost{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: white;
}