
//--anchor for the relative positions--//
.anchor{
    position: absolute;
}

//-- blur effect to the card--//
.toBlur{
    filter: blur(0.5rem);
    -webkit-filter: blur(8px);
    opacity: 90%;
    filter: brightness(10%);
}

// this is for the card size //
.topCityCard{
   width: 17rem;
   cursor: pointer;
   margin: 1rem;
}

.card-img-top{
    height: 15rem;
    border-radius: 6%;
}
//////////////////////////////////////

// h5 centered position //
.overlay-h5{
    margin: 0 auto;
}


//----Heart css---------//

.likeButton{
    position: absolute;
    top:1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    padding: 0px;
    border: none;
    font-size: 2rem;
}


