.toBlur{
    filter: blur(0.5rem);
    -webkit-filter: blur(8px);
    opacity: 90%;
    filter: brightness(10%);
    border-radius: 10%;
}

.card-img-overlay{
    padding: 0px;
    margin: 0px;
    height: 1px;
    top: 15px;
}

.topCityCard{
   width: 18rem;
   margin-left: 2rem;
   margin-top: 2rem;
   padding: 0px;
   border-radius: 10%;
   cursor: pointer;
}

.card-img-top{
    height: 15rem;
    border-radius: 10%;
}

#likeButton{
    width: 2rem;
    height: 2rem;
    background: transparent;
    padding: 0px;
    border: none;
}

div i{
    font-size: 2rem;;
}

.overlay-h5{
    position: absolute;
    top:30px;
    left:120px;
}

.overlay-hearth{
    position: absolute;
    top:190px;
    left: 120px;
}


				