.likeButtonCity{
    font-size: 2rem;
}

.bg-postArea{
    background-color: #ffc0cb;
    border-radius: 2%;
}

.cityMarginTop{
    margin-top: 8rem;
}

.cardBg{
    background: #2c303a;
    padding: 2rem;
    margin: 2rem 0;
    position: relative;
    z-index: 1;
}

.infoIcon{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-top: -3.8rem;
    font-size: 50px;
    background-color: #283655;
    filter: saturate(10);
}

button.infoIcon {
    border: 1px solid white;
}

textarea {
    resize: none;
}
