.overCarouselText{
    position: relative;
    top: -70vh;
    left: 8vw;
    width: 40vw;
    height: 10rem;
    z-index: 5;
}

.spanishCouple img{
    height:8vh;
    position: relative;
}

h1 ,h2 ,h3 {
    font-size: 5vh;
}

.flag{
    height: 5rem;
}

 div.otherCities img.card-img-top{
    height: 10rem;
}
