
.overCarouselText{
    position: relative;
    top: -70vh;
    left: 8vw;
    width: 40vw;
    height: 10rem;
    z-index: 5;
}

.flag{
    height: 4rem;
    position: relative;
    top:-15vh;
    left: 22vw;
}




