
.overCarousel{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 69.4%;
}

.surferTouch{
    width: 100 vh;
    height: 110px;
    z-index: 5;
    border-radius: 0%;
    background-color: #2C303A;

}

.flag{
    height: 5rem;
}

