*{
    border: none;
    border-radius: 5px;
}
input{
    opacity: 0.3;

}
.loginBackground{
    background-size: auto;
    width: 50rem;
    position: absolute;
    right: auto;
    top: 12rem;
}

.registerStyle{
    margin-top: 3rem;
    margin-bottom: 0px;
}

.loginBorder{
    background: linear-gradient(115deg,#FF0A3F,#FFEBEF,#FFADBF,#FF335F);
    background-size: 100% 100%;
    padding: 0.5rem;
}

.loginMainColor{
    position: relative;
    z-index: 2;
    align-items: center;
    background: #1e1f26;
    box-sizing: border-box;
    height: 100%;
}

.rowSpecial {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.toBackGround{
    z-index: -1;
    filter: sepia(50%);
    filter: blur(1px);
}
