//background color and position for the sign in
.signInBackground{
    position: absolute;
    top: 30%;
    background-color: rgba(0,0,0,0.7);
    width: 450px;
}

.specialColor{
    background-color: #d62252;
}

.btn-lg{
    width: 120px;
}
///no se usa el border//
.signInBorder{
    background: linear-gradient(115deg,#FF0A3F,#FFEBEF,#FFADBF,#FF335F);
    background-size: 100% 100%;
    padding: 0.5rem;
}

.registerStyle{
    margin-top: 3rem;
    margin-bottom: 0px;
}

.input-group{
    width: 300px;
    margin: auto;
    border: none;
}

.input-group-text{
    border: none;
}

.signInMainColor{
    position: relative;
    z-index: 2;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.rowSpecial {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.toBackGround{
    z-index: -1;
    filter: sepia(50%);
    filter: blur(1px);
}
