#registerBackground{
    background-color: #343a40;
    width: 50rem;
    border-color: #007bff;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: solid;
    position: relative;
    right: auto;
    bottom: 40rem;

}
.autocomplete-multivalue {
    display: flex;
    flex-wrap: wrap;
    display: block;
}

.list-inline > li{
    margin: 1rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.list-inline{
    margin-left: 0px;
}
ul{
    background-color: gray;
}

//space for buttons//
.specialWidth{
    width: 200px;
}

///////////////////// esto es para el fondo///////////////

.rowSpecial {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.toBackGround{
    z-index: -1;
}

main{
    height: 750px;
}