.registerBackground{
    position: absolute;
    top: 25%;
    background-color: rgba(0,0,0,0.7);
    width: 50rem;
    height: 27.8rem;
}

.autocomplete-multivalue {
    display: flex;
    flex-wrap: wrap;
    display: block;
}


//--custom for hello Adventurer--//
.helloBox{
    padding: 44% 10px 43%;
    background-color: rgba(40, 54, 85,0.9)

}

//---setting the collage as a background--//
.toBackGround{
    z-index: -1;
    filter: sepia(50%);
    filter: blur(1px);
}

//---main color---//
.specialColor{
    background-color: #d62252;
}

//------- esto es para el fondo----------//
.rowSpecial {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


